.search {
    position: relative;
    top: 40%;
    left: 49%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 240px;
    height: 80px;
    text-align: center;
  }

  .search input {
      height:27px;
      width:220px;
  }

  
  .searchIcon {
      position: relative;
      margin-top: -10.25%;
      left: 26.5%;
      height: 50%;
      /* width: 25%; */
  }